%include("_top")


<main class="container py-8 mx-auto h-full pt-28">
    <h1 class="text-3xl text-w-medium text-c-body text-c- mb-6 text-a-center">
        User Management
    </h1>
    <div class="rounded-lg overflow-hidden">
        <div class="d-flex flex-col">
            <div
                class="d-flex a-content-center p-content-center bg-c-charocoal:+3 text-c-body border-b-1 border-c-charocoal:+5">
                <div class="py-5 px-6 flex-1 text-w-medium">Username</div>
                <div class="py-5 px-6 flex-1 text-w-medium">Email</div>
                <div class="py-5 px-6 flex-1 text-w-medium">First Name</div>
                <div class="py-5 px-6 flex-1 text-w-medium text-a-end">Actions</div>
            </div>
            <div id="users">
            % for user in users:
            <div id="u{{ user['user_pk'] }}" class="d-flex a-content-center p-content-center border-b-1 border-c-charocoal:+5 bg-c-charocoal:-9"
                odd="bg-c-charocoal:-12">
                <div class="py-4 px-6 flex-1 text-c-body:-6 text-sm a-content-center">
                    {{ user["user_username"] }}
                </div>
                <div class="py-4 px-6 flex-1 text-c-body:-6 text-sm a-content-center">
                    {{ user["user_email"] }}
                </div>
                <div class="py-4 px-6 flex-1 text-c-body:-6 text-sm a-content-center">
                    {{ user["user_name"] }}
                </div>
                <div class="py-4 px-6 flex-1 d-flex p-content-end">
                    %include("___block.html")
                    <button
                        class="bg-c-charocoal:-4 border-1 border-c-charocoal text-c-body px-3 py-1 rounded-sm hover:bg-c-red:-8 h-10 w-10 cursor-pointer"
                        title="Delete User" hover="bg-c-red:-10" mix-get="/users/delete/{{user['user_pk']}}">
                        🗑️
                    </button>
                </div>
            </div>
            % end
            </div>
        </div>
    </div>
</main>


%include("_bottom")